# ====== GOOGLE CLOUD ======
GOOGLE_CLOUD_PROJECT=tu-proyecto-id
GOOGLE_APPLICATION_CREDENTIALS=./credenciales.json

# ====== GOOGLE CLOUD STORAGE ======
GCS_BUCKET=tu-bucket-name

# ====== TELEGRAM ======
TELEGRAM_BOT_TOKEN=tu-token-de-botfather
